* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
}

.wrapper {
  font-family: "Exo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
}

header {
  height: 100vh;
  background: url(images/mountain.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-heading span {
  font-size: 60px;
  font-family: "Myriad Pro"sans-serif;
  font-weight: 400;
  letter-spacing: 2.4px;
  line-height: 75px;
  width: 130px;
  text-align: center;
}

.play-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #8185a3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 50px;
}

.play-button__tre {
  margin-left: 7px;
  border-style: solid;
  border-width: 15px 0 15px 26px;
  border-color: transparent transparent transparent #f4f5f7;
}

input[type="button"] {
  margin-top: 40px;
  border: none;
  width: 190px;
  height: 50px;
  background-color: #ff6d6d;
  border-radius: 3px;
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  letter-spacing: 3.2px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 20px;
}

.text-header {
  color: #282828;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.56px;
  opacity: 0.6;
}

.two-section {
  width: 100%;
  height: 100vh;
  display: flex;
}

.one-section {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  width: 60%;
}

.one-section__title {
  color: #282828;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 1.6px;
  color: black;
  margin-top: 16px;
  margin-bottom: 45px;
}

.one-section__title span {
  color: #ff6d6d;
  letter-spacing: 1.6px;
}

.one-section__subtitle {
  /* Style for "Aenean eu" */

  opacity: 0.66;
  color: #282828;

  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  /* Text style for "Aenean eu" */
  letter-spacing: 0.64px;
}

.one-section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 680px;
}

.design {
  align-self: flex-start;
  color: #ff6d6d;

  font-size: 16px;
  font-weight: 500;

  text-transform: uppercase;

  letter-spacing: 3.2px;
}

.second-section {
  width: 40%;
  height: 100vh;
  background: #ececec;
  position: relative;
  overflow: hidden;
}

.second-section::after {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 560px 760px;
  border-color: transparent transparent #ff6d6d transparent;
}

.features {
  height: 85vh;
  background-color: #f6f5f3;
  position: relative;
}

.features-title {
  text-align: center;
  padding-top: 138px;
}

.features-title__small-title {
  color: #ff6d6d;

  font-size: 16px;
  font-weight: 500;
  line-height: 49.97px;
  text-transform: uppercase;

  letter-spacing: 3.2px;
}

.features-title__big-title {
  /* Style for "Some aweso" */

  color: #282828;

  font-size: 40px;
  font-weight: 500;
  line-height: 49.97px;
  /* Text style for "S, ome awe" */
  letter-spacing: 1.6px;
  margin-bottom: 91px;
}

img[alt="pen"] {
  position: absolute;
  top: 0;
  left: 97px;
}

img[alt="ear"] {
  position: absolute;
  top: 0;
  right: 198px;
}

img[alt="coffe"] {
  position: absolute;
  bottom: 0;
  background-color: #f6f5f3;
  right: 84px;
}

.features-items {
  width: 400px;
  height: 230px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features-items__title {
  /* Style for "Some aweso" */

  color: #282828;

  font-size: 22px;
  font-weight: 600;
  line-height: 49.97px;
  /* Text style for "S, ome awe" */
  letter-spacing: 0.88px;
}

.features-items__text {
  /* Style for "Donec sed" */
  text-align: center;
  opacity: 0.66;
  color: #282828;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  /* Text style for "Donec sed" */
  letter-spacing: 0.64px;
}

.features-items-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
}

.mac {
  min-height: 660px;
  position: relative;
  height: 1px;
}

.mac::after {
  content: "";
  position: absolute;
  display: inline-block;
  left: -100px;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 560px 760px;
  transform: rotate(90deg);
  border-color: transparent transparent #ff6d6d transparent;
  z-index: -1;
}

.mac__lattop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

.mac__text {
  width: 500px;
}

img[alt="macbook"] {
  width: 830px;
  height: 467px;
}

.mac__text__design {
  /* Style for "NEW DESIGN" */

  color: #ff6d6d;

  font-size: 16px;
  font-weight: 500;
  line-height: 50px;
  text-transform: uppercase;
  /* Text style for "N, EW DESI" */
  letter-spacing: 3.2px;
}

.respnsive {
  /* Style for "Resposive" */
  width: 440px;
  margin-top: 25px;
  margin-bottom: 36px;
  color: #282828;

  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  /* Text style for "R, esposiv" */
  letter-spacing: 1.6px;
  /* Text style for "...." */
}

.one-section__point {
  color: #ff6d6d;
  letter-spacing: 1.6px;
}

.black-blok {
  height: 648px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-image: url(images/Group_4.png);
  background-color: rgba(19, 12, 33, 0.541);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 110px;
}

.black-blok__autors {
  width: 325px;
  height: 280px;
  color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  /* Style for "Jonathon D" */

  color: #ffffff;

  font-size: 22px;
  font-weight: 500;
  line-height: 49.97px;

  letter-spacing: 0.88px;
}

.job {
  /* Style for "Co Founder" */

  color: #ff6d6d;
  margin-top: -14px;
  font-size: 16px;
  font-weight: 500;
  line-height: 49.97px;
}

.information {
  /* Style for "“Aenean eu" */
  width: 324px;
  height: 96px;
  opacity: 0.66;
  color: #ffffff;
  font-family: "Exo - Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  /* Text style for "“Aenean eu" */
  letter-spacing: 0.64px;
  text-align: center;
}

.black-blok__img {
  width: 76px;
  height: 76px;
  background-color: #4e4e5e;
  border: 2px solid #1d1e24;
}

.black-blok__images {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  filter: invert();
  flex-wrap: wrap;
}

.block-ios {
  height: 754px;
  width: 100%;
  background-color: #f6f5f3;
  background-blend-mode: multiply;
  background-image: url(images/1.png);
  background-repeat: no-repeat;
  background-size: 820px 375px;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.block-ios__text {
  max-width: 647px;
  height: 178px;
  text-align: center;
  margin-top: 108px;
}

.block-contacts {
  height: 470px;
  background-color: #323969;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.block-contacts__text {
  width: 680px;
  text-align: center;
}

.over {
  /* Style for "Over 1000" */

  color: #ffffff;

  font-size: 40px;
  font-weight: 500;
  line-height: 49.97px;
  /* Text style for "O, ver 100" */
  letter-spacing: 1.6px;
}

.inputs-block {
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

input[name="name"],
input[name="email"],
input[name="password"] {
  /* Style for "Rounded Re" */
  width: 263px;
  height: 49px;
  border-radius: 3px;
  border: 1px solid #ffffff;
  background-color: darkslateblue;
  outline: none;
  color: white;
  opacity: 0.5;
  padding: 18px 0 18px 29px;
}

input::placeholder {
  color: #f6f5f3;
  text-transform: uppercase;
  /* Style for "YOUR EMAIL" */

  font-size: 16px;
  font-weight: 400;
  line-height: 75px;

  /* Text style for "YOUR EMAIL" */
  letter-spacing: 0.64px;
}

.button_up {
  /* Stycle for "Rounded Re" */
  width: 258px;
  height: 50px;
  box-shadow: 0 3px 3px rgba(14, 15, 15, 0.25);
  border-radius: 3px;
  border: 1px solid #ff6d6d;
  background-color: #ff6d6d;
  color: white;
  cursor: pointer;
  outline: none;
  position: relative;
}

.oveer {
  position: relative;
}

.oveer::after {
  content: "30 days free trial for all.";

  position: absolute;
  color: #f6f5f3;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.64px;
  width: auto;
  top: -40px;
  right: 30px;
}

.oveer::before {
  content: url(images/ARROW.png);

  position: absolute;
  top: -44px;
  left: 0;
}

.sign-in p {
  /* Style for "By Signing" */

  opacity: 0.6;
  color: #f6f5f3;

  font-size: 16px;
  font-weight: 400;

  /* Text style for "B, y Signi" */
  letter-spacing: 0.64px;
  /* Text style for "terms & Se" */
  letter-spacing: 0.64px;
}

.sign-in a {
  text-decoration: underline;
  color: #f6f5f3;
}

footer {
  height: 375px;
  width: 100%;
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 14px;
  flex-wrap: wrap;
}

.footer-first-block {
  width: 231px;
  height: auto;
}

.start {
  /* Style for "Start Ex" */

  color: #2c2f49;
  margin-bottom: 28px;
  font-size: 27px;
  font-weight: 400;
  line-height: 33.6px;
}

.start span {
  color: #ffffff;
  position: relative;
  z-index: 5;
}

.start span::after {
  content: url(images/Polygon_1.webp);
  position: absolute;
  top: -7px;
  right: -11px;
  z-index: -1;
}

.text-first {
  /* Style for "Aenean lac" */
  width: 231px;

  opacity: 0.56;
  color: #282828;

  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  /* Text style for "Aenean lac" */
  letter-spacing: 0.56px;
}

.generous-block {
  width: auto;
  height: auto;
}

.generous-text {
  /* Style for "Support" */
  width: 230px;
  color: #282828;
  margin-bottom: 23px;
  font-size: 22px;
  font-weight: 500;
  line-height: 49.97px;
  /* Text style for "S, upport" */
  letter-spacing: 0.88px;
}

.generous-subtitile li {
  list-style: none;
}

.generous-subtitile li a {
  text-decoration: none;
  /* Style for "Help Cente" */

  color: #282828;

  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  /* Text style for "Help Cente" */
  letter-spacing: 0.56px;
}

input[placeholder="email"] {
  position: relative;
  width: 100%;
  color: indigo;
  height: 49px;
  border-radius: 3px;
  border: 1px solid #4e4e5e;
  background-color: #cccccc;
}

.footer-wreaaper {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.telega {
  width: 100%;
  height: auto;
  position: relative;
}

.telega::after {
  content: url(images/10.webp);
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 52px;
  height: 49px;
  box-shadow: 0 3px 3px rgba(14, 15, 15, 0.25);
  border-radius: 3px;
  border: 1px solid #ff6d6d;
  background-color: #ff6d6d;
  top: 0;
  right: 0px;
  cursor: pointer;
}

.generous-block-icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 230px;
}